@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
.feed-container{
  margin-top: 1rem;
}

.channel-title{
  cursor:pointer;
}

.sure-text {
  font-size: 0.8rem;
  padding: 0.5rem;
  background-color: #fff;
}
.confirm-remove-option{
  padding-left: 1rem;
  padding: 0.5rem;
  background-color: #fff;
}
.confirm-remove-option:hover{
  text-decoration: underline;
}
